.content {
  /* Aquí el origen de la imagen */
  /*background-image: url(src/assets/img/background/pexels-pixabay-grande-248515.jpg);*/

  /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
  background-position: center center;

  /* Esta imagen no debe de repetirse */
  background-repeat: no-repeat;

  /* Con esta regla fijamos la imagen en la pantalla. */
  background-attachment: fixed;

  /* La imagen ocupa el 100% y se reescala */
  background-size: cover;

  /* Damos un color de fondo mientras la imagen está cargando  */
  background-color: #464646;

  /* Letra color blanco */
  color: white;

}

/* Mobile */
@media only screen and (max-width: 767px) {

  .content {
    background-image: url(src/assets/img/background/pexels-pixabay-270404.jpg);
  }

}
