<section class="container-fluid row" id="proyectos">

  <h1 class="text-center mb-4">Proyectos</h1>

  <div id="mobile">
    <article class="col">
    <div class="card center-h bg-dark" style="width: 18rem;">
      <img src="./assets/img/background/pexels-markus-spiske-2004161.jpg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h4 class="card-title text-color">IECA</h4>
        <p class="card-text">Bolsa de trabajo</p>
      </div>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>NodeJS</mat-chip>
        <mat-chip>Express</mat-chip>
        <mat-chip>MySQL</mat-chip>
      </mat-chip-list>
      <div class="card-body text-center">
        <a href="#" class="card-link" title="Demostración"><i class="fas fa-globe fa-2x"></i></a>
        <a href="#" class="card-link" title="Código fuente"><i class="fab fa-github fa-2x"></i></a>
      </div>
    </div>
  </article>

    <article class="col">
      <div class="card center-h bg-dark" style="width: 18rem;">
        <img src="./assets/img/background/pexels-markus-spiske-2004161.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h4 class="card-title text-color">Médicos</h4>
          <p class="card-text">Administración de empleados</p>
        </div>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>HTML</mat-chip>
          <mat-chip>CSS</mat-chip>
          <mat-chip>Angular</mat-chip>
          <mat-chip>NodeJS</mat-chip>
          <mat-chip>Express</mat-chip>
          <mat-chip>MongoDB</mat-chip>
        </mat-chip-list>
        <div class="card-body text-center">
          <a href="#" class="card-link" title="Demostración"><i class="fas fa-globe fa-2x"></i></a>
          <a href="#" class="card-link" title="Código fuente"><i class="fab fa-github fa-2x"></i></a>
        </div>
      </div>
    </article>

    <article class="col">
      <div class="card center-h bg-dark" style="width: 18rem;">
        <img src="./assets/img/background/pexels-markus-spiske-2004161.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h4 class="card-title text-color">Google</h4>
          <p class="card-text">Usando los servicios de Google</p>
        </div>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>HTML</mat-chip>
          <mat-chip>CSS</mat-chip>
          <mat-chip>Angular</mat-chip>
          <mat-chip>NodeJS</mat-chip>
          <mat-chip>Express</mat-chip>
          <mat-chip>SQL Server</mat-chip>
        </mat-chip-list>
        <div class="card-body text-center">
          <a href="#" class="card-link" title="Demostración"><i class="fas fa-globe fa-2x"></i></a>
          <a href="#" class="card-link" title="Código fuente"><i class="fab fa-github fa-2x"></i></a>
        </div>
      </div>
    </article>
  </div>

  <div class="content row" id="desktop">
    <article class="col">
        <div class="card center-h bg-dark" style="width: 18rem;">
          <img src="./assets/img/background/pexels-markus-spiske-2004161.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h4 class="card-title text-color">IECA</h4>
            <p class="card-text">Desarrollo de una bolsa de trabajo</p>
          </div>

          <div class="overlay bg-dark">
            <p>Tecnologías</p>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip>HTML</mat-chip>
              <mat-chip>CSS</mat-chip>
              <mat-chip>Angular</mat-chip>
              <mat-chip>NodeJS</mat-chip>
              <mat-chip>Express</mat-chip>
              <mat-chip>MySQL</mat-chip>
            </mat-chip-list>
            <div class="card-body text-center">
              <a href="#" class="card-link" title="Demostración"><i class="fas fa-globe fa-2x"></i></a>
              <a href="#" class="card-link" title="Código fuente"><i class="fab fa-github fa-2x"></i></a>
            </div>
          </div>
        </div>
      </article>

    <article class="col">
      <div class="card center-h bg-dark" style="width: 18rem;">
        <img src="./assets/img/background/pexels-markus-spiske-2004161.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h4 class="card-title text-color">Médicos</h4>
          <p class="card-text">Administración de empleados</p>
        </div>

        <div class="overlay bg-dark">
          <p>Tecnologías</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>HTML</mat-chip>
            <mat-chip>CSS</mat-chip>
            <mat-chip>Angular</mat-chip>
            <mat-chip>NodeJS</mat-chip>
            <mat-chip>Express</mat-chip>
            <mat-chip>MongoDB</mat-chip>
          </mat-chip-list>
          <div class="card-body text-center">
            <a href="#" class="card-link" title="Demostración"><i class="fas fa-globe fa-2x"></i></a>
            <a href="#" class="card-link" title="Código fuente"><i class="fab fa-github fa-2x"></i></a>
          </div>
        </div>
      </div>
    </article>

    <article class="col">
      <div class="card center-h bg-dark" style="width: 18rem;">
        <img src="./assets/img/background/pexels-markus-spiske-2004161.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h4 class="card-title text-color">Google</h4>
          <p class="card-text">Usando los servicios de Google</p>
        </div>

        <div class="overlay bg-dark">
          <p>Tecnologías</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>HTML</mat-chip>
            <mat-chip>CSS</mat-chip>
            <mat-chip>Angular</mat-chip>
            <mat-chip>NodeJS</mat-chip>
            <mat-chip>Express</mat-chip>
            <mat-chip>SQL Server</mat-chip>
          </mat-chip-list>
          <div class="card-body text-center">
            <a href="#" class="card-link" title="Demostración"><i class="fas fa-globe fa-2x"></i></a>
            <a href="#" class="card-link" title="Código fuente"><i class="fab fa-github fa-2x"></i></a>
          </div>
        </div>
      </div>
    </article>
  </div>

</section>
