<section class="container-fluid row" id="proyectos">

  <h1 class="text-center mb-4">Proyectos</h1>

  <div id="mobile">
    <article class="col">
      <div class="card center-h bg-dark" style="width: 18rem;">
        <img src="./assets/img/picture/ieca-home.png" alt="IECA Home">
        <div class="card-body text-center">
          <h4 class="card-title text-color">IECA</h4>
          <p class="card-text">
            Desarrollo de una aplicación web de una bolsa de trabajo para la institución IECA, en colaboración con un equipo de desarrollo.
          </p>
        </div>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>HTML</mat-chip>
          <mat-chip>CSS</mat-chip>
          <mat-chip>JavaScrip</mat-chip>
          <mat-chip>Angular</mat-chip>
          <mat-chip>NodeJS</mat-chip>
          <mat-chip>Express</mat-chip>
          <mat-chip>MySQL</mat-chip>
        </mat-chip-list>
        <div class="card-body text-center">
          <a href="https://ieca.netlify.app/#/auth"
             class="card-link"
             title="Demostración"
             target="_blank">
            <i class="fas fa-globe fa-3x"></i>
          </a>
          <a href="https://github.com/Proyecto-IECA/IECA-Frontend"
             class="card-link"
             title="Código fuente"
             target="_blank">
            <i class="fab fa-github fa-3x"></i>
          </a>
        </div>
      </div>
    </article>

    <article class="col">
      <div class="card center-h bg-dark" style="width: 18rem;">
        <img src="./assets/img/picture/hospitals-home.png" alt="Hospital Home">
        <div class="card-body text-center">
          <h4 class="card-title text-color">Médicos</h4>
          <p class="card-text">
            Desarrollo de una aplicación web para la administración de empleados de un hospital de forma simulada; y demostración de conocimientos de angular.
          </p>
        </div>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>HTML</mat-chip>
          <mat-chip>CSS</mat-chip>
          <mat-chip>JavaScrip</mat-chip>
          <mat-chip>Angular</mat-chip>
          <mat-chip>NodeJS</mat-chip>
          <mat-chip>Express</mat-chip>
          <mat-chip>MongoDB</mat-chip>
        </mat-chip-list>
        <div class="card-body text-center">
          <a href="https://hospitals.netlify.app"
             class="card-link"
             title="Demostración"
             target="_blank">
            <i class="fas fa-globe fa-3x"></i>
          </a>
          <a href="https://github.com/rangel96/hospital-frontend"
             class="card-link"
             title="Código fuente"
             target="_blank">
            <i class="fab fa-github fa-3x"></i>
          </a>
        </div>
      </div>
    </article>

  </div>

  <div class="content row" id="desktop">

    <article class="col-md-6">
      <div class="card bg-dark">
        <img src="./assets/img/picture/ieca-home.png" alt="IECA Home">
        <div class="center-h center-v">
          <h4 class="card-title text-color mt-3">IECA</h4>
          <p class="card-text">
            Desarrollo de una aplicación web de una bolsa de trabajo para la institución IECA, con participación en un equipo de desarrollo.
          </p>
          <p>Tecnologías</p>
          <mat-chip-list class="mb-3" aria-label="Fish selection">
            <mat-chip>HTML</mat-chip>
            <mat-chip>CSS</mat-chip>
            <mat-chip>JavaScrip</mat-chip>
            <mat-chip>Angular</mat-chip>
            <mat-chip>NodeJS</mat-chip>
            <mat-chip>Express</mat-chip>
            <mat-chip>MySQL</mat-chip>
          </mat-chip-list>
          <div class="card-body overlay ieca">
            <a href="https://ieca.netlify.app/#/auth"
               class="card-link"
               title="Demostración"
               target="_blank">
              <i class="fas fa-globe fa-5x"></i>
            </a>
            <a href="https://github.com/Proyecto-IECA/IECA-Frontend"
               class="card-link"
               title="Código fuente"
               target="_blank">
              <i class="fab fa-github fa-5x"></i>
            </a>
          </div>
        </div>
      </div>
    </article>

    <article class="col-md-6">
      <div class="card bg-dark">
        <img src="./assets/img/picture/hospitals-home.png" alt="Hospital Home">
        <div class="center-h center-v">
          <h4 class="card-title text-color mt-3">Médicos</h4>
          <p class="card-text">
            Desarrollo de una aplicación web para la administración de empleados de un hospital de forma simulada; demostración de conocimientos de angular.
          </p>
          <p>Tecnologías</p>
          <mat-chip-list class="mb-3" aria-label="Fish selection">
            <mat-chip>HTML</mat-chip>
            <mat-chip>CSS</mat-chip>
            <mat-chip>JavaScrip</mat-chip>
            <mat-chip>Angular</mat-chip>
            <mat-chip>NodeJS</mat-chip>
            <mat-chip>Express</mat-chip>
            <mat-chip>MongoDB</mat-chip>
          </mat-chip-list>
          <div class="card-body overlay hospitals redes">
            <a href="https://hospitals.netlify.app"
               class="card-link"
               title="Demostración"
               target="_blank">
              <i class="fas fa-globe fa-5x"></i>
            </a>
            <a href="https://github.com/rangel96/hospital-frontend"
               class="card-link"
               title="Código fuente"
               target="_blank">
              <i class="fab fa-github fa-5x"></i>
            </a>
          </div>
        </div>
      </div>
    </article>

  </div>

</section>
