div {
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

p {
  font-size: 140%;
}

@media only screen and (max-width: 767px) {

  div {
    padding: 5%;
  }

  p {
    font-size: 100%;
  }

}
