<section class="container-fluid" id="acerca">
  <div class="text-center">
    <h1>Conoceme...</h1>
    <p>
      Soy estudiante de ingeniería en informática con especialidad en programación enfocado en el
      desarrollo de páginas web, especializado en Angular, me gusta trabajar en equipo ya que pienso
      que los grandes logros se alcanzan fácilmente con un espíritu de grupo, puedes revisar mi manera de trabajar en
      <a href="https://github.com/rangel96">GitHub</a>.
    </p>
  </div>
</section>


