<div class="row p-2" id="proyectos">

  <h2 class="text-center">Proyectos</h2>

  <div class="col p-2">
    <div class="card center-h" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">IECA</h5>
        <p class="card-text">Bolsa de trabajo</p>
      </div>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>NodeJS</mat-chip>
        <mat-chip>Express</mat-chip>
        <mat-chip>MySQL</mat-chip>
      </mat-chip-list>
      <div class="card-body text-center">
        <a href="#" class="card-link" title="Demostración"><i class="fas fa-globe fa-2x"></i></a>
        <a href="#" class="card-link" title="Código fuente"><i class="fab fa-github fa-2x"></i></a>
      </div>
    </div>
  </div>

  <div class="col p-2">
    <div class="card center-h" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Médicos</h5>
        <p class="card-text">Administración de empleados</p>
      </div>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>NodeJS</mat-chip>
        <mat-chip>Express</mat-chip>
        <mat-chip>MongoDB</mat-chip>
      </mat-chip-list>
      <div class="card-body text-center">
        <a href="#" class="card-link" title="Demostración"><i class="fas fa-globe fa-2x"></i></a>
        <a href="#" class="card-link" title="Código fuente"><i class="fab fa-github fa-2x"></i></a>
      </div>
    </div>
  </div>

  <div class="col p-2">
    <div class="card center-h" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Google</h5>
        <p class="card-text">Usando los servicios de Google</p>
      </div>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>HTML</mat-chip>
        <mat-chip>CSS</mat-chip>
        <mat-chip>Angular</mat-chip>
        <mat-chip>NodeJS</mat-chip>
        <mat-chip>Express</mat-chip>
        <mat-chip>SQL Server</mat-chip>
      </mat-chip-list>
      <div class="card-body text-center">
        <a href="#" class="card-link" title="Demostración"><i class="fas fa-globe fa-2x"></i></a>
        <a href="#" class="card-link" title="Código fuente"><i class="fab fa-github fa-2x"></i></a>
      </div>
    </div>
  </div>

</div>
