<section class="container-fluid bg-dark" id="inicio">
  <div class="row p-4" id="desktop">

      <div class="col-5" id="imagen">
        <img src="./assets/img/foto_perfil.png" alt="Imagen de perfil">
      </div>

      <div class="col-7 text-center center-v" id="texto">
        <h1>Hola soy Eric Rangel!</h1>
        <p>Estudiante de Ingeniería en Informática y desarrollador web</p>
      </div>

  </div>

  <div class="p-4 center-h" id="mobile">
    <img src="./assets/img/foto_perfil.png" alt="Imagen de perfil">
    <h1>Hola soy Eric Rangel!</h1>
    <p>Estudiante de Ingeniería en Informática y desarrollador web</p>
  </div>
</section>

