#inicio {
  /* Aquí el origen de la imagen */
  background-image: url(src/assets/img/background/pexels-pixabay-grande-248515.jpg);

  /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
  background-position: center center;

  /* Esta imagen no debe de repetirse */
  background-repeat: no-repeat;

  /* Con esta regla fijamos la imagen en la pantalla. */
  background-attachment: fixed;

  /* La imagen ocupa el 100% y se reescala */
  background-size: cover;

  /* Damos un color de fondo mientras la imagen está cargando  */
  background-color: #464646;

}

img {
  width: 80%;
  height: 95%;
  border-radius: 50%;
}

h1 {
  font-size: 600%;
}

p {
  font-size: 200%;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

/* Mobile */
@media only screen and (max-width: 767px) {

  #desktop {
    display: none;
  }

  img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
  }

  h1 {
    margin: 13%;
    font-size: xx-large;
  }

  p {
    font-size: x-large;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-bottom: 10%;
  }

}

@media only screen and (min-width: 768px) {

  #mobile {
    display: none;
  }

}
