<div class="container-fluid">

  <div class="row p-4" id="inicio">

    <div class="col text-center">
      <h1>Hola soy Eric Rangel!</h1>
      <p>Ingeniero en informática y desarrollador web</p>
    </div>

    <figure class="col">
      <img src="./assets/img/foto_perfil.png" alt="Imagen de perfil">
    </figure>

  </div>

  <div class="p-4" id="mobile">
    <div class="row">
      <h1>Hola soy Eric Rangel!</h1>
      <p>Ingeniero en informática y desarrollador web</p>
    </div>

    <figure class="row">
      <img src="./assets/img/foto_perfil.png" alt="Imagen de perfil">
    </figure>
  </div>

</div>

