
p {
  margin-bottom: -0.5%;
}

.container-fluid {
  color: white;
  padding: 1%;
}

.row {
  padding-top: 1%;
}

.text-center-vertical {
  margin: auto 0;
}

.social-icons {
  margin: 2%;
}

@media screen and (max-width: 768px) {

  h3 {
    padding-top: 2%;
  }

  p {
    margin: 2%;
  }

}

