<footer class="container-fluid navbar-dark bg-dark">
  <!-- Contactame -->
  <div class="row">

    <!-- Titulo -->
    <div class="col text-center text-center-vertical">
      <h3>CONTÁCTAME</h3>
    </div>

    <!-- Medios de contacto -->
    <div class="col">

      <!-- Correo -->
      <div class="col">
        <p><i class="fas fa-envelope social-icons"></i> erangel.carmona@gmail.com</p>
      </div>

      <!-- Celular -->
      <div class="col">
        <p><i class="fas fa-phone-alt social-icons"></i> 476 125 62 59</p>
      </div>

    </div>

  </div>

  <hr>

  <!-- Redes Sociales -->
  <div class="position-relative">
    <div class="col text-center">

      <!-- GitHub -->
      <a class="social-icons" href="https://github.com/rangel96">
        <i class="social fab fa-3x fa-github"></i>
      </a>

      <!-- Linkedin -->
      <a class="social-icons" href="https://www.linkedin.com/in/ericran90/">
        <i class="social fab fa-3x fa-linkedin"></i>
      </a>

      <!-- Twitter -->
      <a class="social-icons" href="https://twitter.com/EricRan90">
        <i class="social fab fa-3x fa-twitter-square"></i>
      </a>

    </div>
  </div>

  <p class="row justify-content-center">{{ year }} - Eric Rangel. Última actualización Mayo</p>

</footer>
